

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h4>ASP.NET Microservices Project By Ali Mahmoud</h4>
    
</div>
